<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
    <!-- <ion-toolbar class="sub-header">
        <ion-title>
            Campaigns
        </ion-title>
    </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-row no-padding class="section full">
        <ion-col [ngStyle]="{ 'background-image' : 'url(' + activeBg + ')'}" class="img-bg">
            <ion-row class="middle">
                <ion-col>
                    <ion-list class="scroll-look">
                        <ion-item *ngFor="let campaign of campaigns" (click)="selectCampaign(campaign);">
                            <ion-row>
                                <ion-col col-3 class="area" [ngStyle]="{ 'background-image' : 'url(' + campaign.locationImage + ')'}">
                                </ion-col>
                                <ion-col col-9>
                                    <ion-row class="header">
                                        <ion-col>
                                            <ion-row>
                                                <ion-col>
                                                    <h3>{{campaign.title}}</h3>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col class="party-list">
                                            <ion-row>
                                                <ion-col class="member" *ngFor="let partyMember of campaign.party">
                                                    <ion-row>
                                                        <ion-col>
                                                            <ion-avatar>
                                                                <img src="{{partyMember.memberImg}}">
                                                            </ion-avatar>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>

                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>