page-create-character {
    h1 {
        font-size: 4rem !important;
    }
    ion-item {
        background-color: transparent !important;
        border-color: #58180D !important;
    }
    input {
        .text-input {
            font-family: "Anke Calligraphic FG" !important;
            font-size: 36px !important;
        }
    }
}